* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  overflow: hidden;
}

.container {
  height: 100%;
  width: 92vw;
  margin: auto;
}

// CUSTOM SCROLLBAR
::-webkit-scrollbar {
  width: 10px;
  &-thumb {
    background: #f44336;
  }
  &-track {
    background: #747474;
  }
}

@media screen and (min-width: 576px) {
  .container {
    height: 100%;
    width: 85vw;
    margin: auto;
  }
}
